<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Discription</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Pizaa Hawai</td>
                        <td>Tra top chesses, port, beef</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Pizaa Hawai</td>
                        <td>Tra top chesses, port, beef</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Pizaa Hawai</td>
                        <td>Tra top chesses, port, beef</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>         
    <nav>
        <ul>
            <li><a href="order.html">Create Order</a></li>
            <li><a href="menu.html">add menu</a></li>
            <li><a href="#">invoice</a></li>
            <li><a href="employee.html">add employee</a></li>
            <li><a href="emp-record.html">employee record</a></li>
            <li><a href="order-record.html"  class="active">order record</a></li>
        </ul>
    </nav>
</body>
</html>